th , tr , td
{
    border: 1px solid rgb(0, 0, 0);

    padding: 15px;

}
table
{
    border-collapse: collapse;
}

td:nth-child(even)
{
    background: rgb(26, 23, 49);
}
th:nth-child(odd)
{
    background: rgb(75, 95, 34);
}