@keyframes bounce
{
    from { top : 0px}
    to { top: 200px }
}
.ball
{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    background: crimson;
    border-radius: 50%;
    position: relative;
    animation-name: bounce;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

}