*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;

}
.item
{
   
    border: 2px solid rgb(141, 141, 141);
    background-color: rgb(126, 120, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    

}
#item1
{
    grid-column-start: 1;
    grid-column-end: 3;
}
#item2
{
   grid-column: 1 / 2; 
}
#item3
{
    
}
#item4
{
    
}
#item5
{
    
}
#item6
{
    
}
#item7
{
    
}
#item8
{
    
}
#item9
{
    
}
/* #item1
{
    grid-column-start: 1;
    grid-column-end: 4;
}
#item2
{
   grid-column-start: 1;
   grid-column-end: 2;
}
#item5
{
    grid-column-start: 1;
    grid-column-end: 4;
}
/* #item3
{
    width: 150px;
}
#item4
{
    width: 150px;
} */ 